<html lang="en">
<%- include('templates/head',{title:'首頁'}) %>

    <body>
        <!--上方狀態欄位-->
        <%- include('templates/navbar') %>

        <div class="container-fluid">
            <div class="row">

                <!--側邊選項欄-->
                <%- include('templates/slidebar') %>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    

                    <h2>歡迎來到狗之天地</h2>
                    <div class="table-responsive">

                      
                      
                    </div>
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>
        <script src="/static/assets/js/vendor/popper.min.js"></script>
        <script src="/static/dist/js/bootstrap.min.js"></script>

         <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>


    </body>

</html>